	<div class="page-header">
		<h1>Tell us about yourself</h1>
	</div>
	<div class="container">
		<%= form_for(@player) do |f| %>
		  <% if @player.errors.any? %>
		    <div id= "error-explanation">
		      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this user from being saved:</h2>

		      <ul>
		      <% @player.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  	<fieldset class="form-group">
			    <%= f.text_field :first_name,placeholder: 'First Name', :class => "form-control" %>
			</fieldset>
		  	<fieldset class="form-group">
			    <%= f.text_field :last_name, placeholder: 'Last Name', :class => "form-control" %>
			</fieldset>
		  	<fieldset class="form-group">
			    <%= f.text_field :email, placeholder: 'Email', :class => "form-control"  %>
		    </fieldset>
		  	<fieldset class="form-group">
			    <%= f.label :gender %>
			    <%= f.radio_button :gender,  "Male"  %>
				  <%= f.label "Male" %>
			    <%= f.radio_button :gender,  "Female"  %>
				  <%= f.label "Female" %>
			</fieldset>
		  	<fieldset class="form-group">
			    <%= f.label :DOB %>
			    <%= f.date_select :DOB, :start_year => 1950, :class => "form-control" %>
		    </fieldset>
		  	<fieldset class="form-group">
			    <%= f.label :education_level %>
				   <%= f.select :education_level, ['Some high school', 'High school graduate', 'Some college','Trade school/Vocational training',"Associate's degree","Bachelor's degree","Master's degree","Doctorate Degree"], :class => "form-control" %>
			</fieldset>
		  	<fieldset class="form-group">
			    <%= f.label :race %>
			    <%= f.select :race, ["White","Hispanic or Latino","Black or African American", "Native American or American Indian", "Asian / Pacific Islander"], :class => "form-control" %>
		    </fieldset>
		  	<fieldset class="form-group">
			    <%= f.label :household_size %>
			    <%= f.select :household_size, ["1","2","3","4","5","6","7+"], :class => "form-control" %>
		    </fieldset>
		  	<fieldset class="form-group">
			    <%= f.label :household_income %>
			    <%= f.select :household_income, ["Less than $24,999","$25,000 to $49,999","$50,000 to $99,999","$100,000 or more"], :class => "form-control" %>
			</fieldset>
		  <%= f.hidden_field :research_id, :value => session[:research_id]%>
		  <%= f.submit "Register", :class=> "btn btn-lg btn-primary btn-block" %>

		<% end %>
	</div>
